.page-login-wrap {
  position: relative;
  height: 100%;
  letter-spacing: -0.5px;

  .main-contents-wrap {
    width: 460px;
    margin: 0 auto;

    .login-wrap {
      @include flexColumn {
      }
      // width: 460px;
      // margin: 0 auto;

      .tab-wrap {
        @include flex {
          align-items: flex-start;
          flex: 1;
        }
        background-color: #f5f6f4;
        border-radius: 12px;

        .tab-container {
          @include flexYCenter {
            align-items: flex-start;
            flex: 1;
          }
        }

        .tab-id,
        .tab-ones,
        .tab-qr {
          @include flex {
            flex: 1;
            justify-content: center;
          }
          color: #777;
          height: 63px;
          padding-top: 17px;
          border-right: 1px solid #e1e3e5;
          border-bottom: 0;
          background-color: #f5f6f4;
          text-align: center;
          z-index: 2;
        }

        .tab-id {
          border-radius: 12px 0 0 0;

          & > ::before {
            @include bgi(
              ("icon/m_sp_01_login_7b3d4fc3.png"),
              (-54px -314px),
              (336px 330px)
            );
            content: "";
            width: 16px;
            height: 16px;
          }
        }

        .tab-ones {
          & > ::before {
            @include bgi(
              ("icon/m_sp_01_login_7b3d4fc3.png"),
              (-316px -294px),
              (336px 330px)
            );
            content: "";
            width: 16px;
            height: 16px;
          }
        }

        .tab-qr {
          border-radius: 0 12px 0 0;
          border-right: 0;

          & > ::before {
            @include bgi(
              ("icon/m_sp_01_login_7b3d4fc3.png"),
              (-18px -314px),
              (336px 330px)
            );
            content: "";
            width: 16px;
            height: 16px;
          }
        }

        .tab-text {
          @include flex {
            align-items: flex-start;
          }
          @include font(subtitle, 14px);
          font-weight: 500;
          gap: 8px;
        }

        .on {
          color: #333;
          border-radius: 12px 12px 0 0;
          border-color: #e1e3e5;
          border: 1px solid #e1e3e5;
          border-bottom: 0;
          background-color: #fff;
          z-index: 5;
        }

        .nudge-wrap {
          @include flexYCenter {
          }
          position: absolute;
          z-index: 6;

          .nudge-container {
            @include flexYCenter {
            }
            position: relative;
            padding: 3px 9px;
            gap: 5px;
            border: 1px solid #09aa5c;
            border-radius: 12px;
            height: 25px;
            background-color: #fff;
            top: -17px;
            right: 50px;

            span {
              @include font(exsmall, 14px);
              display: inline-block;
              font-weight: 500;
              letter-spacing: -0.56px;
              white-space: nowrap;
              color: #1e1e23;
            }

            button {
              // @include flexCenter;
              @include bgi(
                ("icon/m_sp_01_login_7b3d4fc3.png"),
                (-292px -280px),
                (336px 330px)
              );
              content: "";
              width: 9px;
              height: 9px;
              padding: 0;
            }
          }
        }
      }

      .panel-wrap {
        @include flexColumn {
        }
        position: relative;
        z-index: 3;
        margin-top: -10px;
        padding: 24px;
        border: 1px solid #e1e3e5;
        border-radius: 12px;
        background-color: #fff;

        .login-box {
          @include flexColumn {
            flex: 1;
          }

          input {
            width: 100%;
            height: 22px;
            @include font(subtitle, 22px);
            font-weight: 400;
            letter-spacing: -0.2px;
            color: #1e1e23;
            z-index: 5;
          }

          .input-id {
            @include flex {
            }
            position: relative;
            height: 60px;
            border-radius: 8px 8px 0 0;
            border: 1px solid #c5ccd2;
            padding: 27px 15px 8px;

            label {
              position: absolute;
              bottom: 17px;
              pointer-events: none;
              @include font(subtitle, 22px);
              font-weight: 400;
              letter-spacing: -0.2px;
              transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
              color: rgba(0, 0, 0, 0.38);
              z-index: 5;
            }
          }

          .input-pw {
            @include flexColumn {
            }
            position: relative;
            height: 59px;
            border-radius: 0 0 8px 8px;
            border: 1px solid #c5ccd2;
            border-top: 0;
            padding: 27px 15px 8px;

            label {
              position: absolute;
              top: 17px;
              pointer-events: none;
              @include font(subtitle, 22px);
              font-weight: 400;
              letter-spacing: -0.2px;
              color: rgba(0, 0, 0, 0.38);
              z-index: 5;
            }
          }

          .cancel-container {
            @include flexCenter {
            }
            position: absolute;
            top: 10px;
            right: 3px;
            width: 40px;
            height: 40px;
            z-index: 7;

            .icon-cancel {
              @include bgi(
                ("icon/m_sp_01_login_7b3d4fc3.png"),
                (-292px 0),
                (336px 330px)
              );
              content: "";
              display: inline-block;
              width: 22px;
              height: 22px;
            }
          }
          .view-container {
            @include flexCenter {
            }
            position: absolute;
            top: 10px;
            right: 33px;
            width: 40px;
            height: 40px;
            z-index: 7;

            .icon-view {
              @include bgi(
                ("icon/m_sp_01_login_7b3d4fc3.png"),
                (-292px -72px),
                (336px 330px)
              );
              content: "";
              display: inline-block;
              width: 22px;
              height: 22px;
            }
          }
        }

        .login-check-wrap {
          @include flexBetween {
          }
          margin-top: 12px;

          .login-keep {
            @include flex;

            span {
              @include flex;
              @include font(bodyS, 20px);
              font-weight: 400;
              color: #767678;

              gap: 6px;

              &::before {
                @include bgi(
                  ("icon/m_sp_01_login_7b3d4fc3.png"),
                  (-292px -236px),
                  (336px 330px)
                );
                content: "";
                width: 20px;
                height: 20px;
              }
            }
          }
          .ip-check {
            @include flexYCenter;

            .ip-text {
              @include font(bodyS, 20px);
              display: inline-block;
              padding-right: 4px;
              font-weight: 400;
              letter-spacing: -0.4px;
              color: #303038;
            }

            .switch-wrap {
              @include flexYCenter {
              }
              gap: 2px;
              width: 45px;
              height: 20px;
              padding: 0 3px;
              border-radius: 12px;
              background-color: #a5adb8;

              &::before {
                position: relative;
                z-index: 5;
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
              }

              span {
                @include font(($small, 11px), 20px);
                display: none;
                font-weight: 700;
                letter-spacing: -0.3px;
                color: #fff;
              }

              .switch-off {
                display: flex;
              }

              .switch-on {
                // display: flex;
              }
            }
          }
        }

        .btn-login-wrap {
          @include flexColumn {
          }
          margin-top: 20px;

          .btn-login {
            @include flexColumn {
              flex: 1;
            }

            padding: 13px 20px;
            border-radius: 8px;
            background-color: #a5adb8;
          }

          .btn-text {
            @include font(($subtitle, 17px), 24px);
            font-weight: 400;
            letter-spacing: -0.4px;
            color: #fff;
          }

          .center-text {
            position: relative;
            text-align: center;
          }

          .desc {
            @include font(bodyS, 18px);
            display: inline-block;
            position: relative;
            padding: 25px 12px;
            background: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.4px;
            color: #767678;
            z-index: 5;
          }

          .center-line {
            @include flex {
              justify-content: center;
              align-items: center;
            }
            position: relative;
            z-index: 4;
            height: 1px;
            left: 0;
            right: 0;
            bottom: 34px;
            background-color: #efeff0;
          }

          .passkey-login {
            @include flexColumn {
              flex: 1;
            }
            padding: 12px 20px;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #09aa5c;
          }

          .passkey-text {
            @include font(($subtitle, 17px), 24px);
            letter-spacing: -0.4px;
            font-weight: 700;
            color: #09aa5c;
          }
        }
      }
    }

    .find-wrap {
      @include flexYCenter {
      }
      position: relative;
      margin: 20px auto;

      .find-container {
        @include flex {
        }

        &:not(:first-child) {
          &::before {
            content: "";
            position: relative;
            width: 1px;
            margin: 2px 18px;
            background-color: #dadada;
          }
        }
      }

      a {
        display: inline-block;
        @include font(bodyS, 17px);
        color: #888;
      }
    }

    .banner-wrap {
      @include flexCenter {
      }
      margin-top: 20px;

      img {
        width: 100%;
      }
    }
  }
}
